language: go
sudo: false
install: true
os:
  - linux
  - osx
go:
  - 1.5.4
  - 1.6.3
  - 1.7rc5
  - tip
env:
  global:
    - GO15VENDOREXPERIMENT=1
  matrix:
    - GOARCH=amd64
    - GOARCH=386
script:
  - go test -x
matrix:
  allow_failures:
    - go: tip
notifications:
  email:
    on_success: change
    on_failure: always
  slack:
    rooms:
      secure: S12HYeu9EpeXdpJYCHpaJcG+8T6LJGmgq2+xb86TjF8bEJ1qyeJcAkUZJPpq/NnTC6XKABWkGzf0EIJmnwpfHr2ymRvwVFJTDOf4kU8AzeqwJb5SW51J6PYtIg8N/DPrnYDAcddEntVIUvwHVnigz5NBUmCV3m7wc61x8oG4Sow=

